rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // --- Funciones de Ayuda ---
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'alexispparra@gmail.com';
    }

    // --- Reglas para la Colección 'users' ---
    match /users/{userId} {
      // Un usuario puede crear su propio perfil.
      allow create: if isOwner(userId);
      // Un usuario puede leer y actualizar su propio perfil.
      allow get, update: if isOwner(userId);

      // El administrador puede leer (get) y actualizar (update) cualquier perfil.
      // Y, crucialmente, el administrador puede listar (list) toda la colección.
      allow list, get, update: if isAdmin();
    }
    
    // --- Reglas para la Colección 'projects' ---
    match /projects/{projectId} {
      function isParticipant() {
        return request.auth != null && request.auth.token.email in resource.data.participantsEmails;
      }
      
      // Cualquier usuario autenticado puede crear un proyecto.
      allow create: if request.auth != null;
      
      // Solo los participantes pueden leer, actualizar o eliminar un proyecto.
      allow read, update, delete: if isParticipant();
    }
  }
}
