@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 10% 96%;
    --foreground: 150 7% 20%;
    --card: 0 0% 100%;
    --card-foreground: 150 7% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 150 7% 20%;
    --primary: 148 7% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 13 35% 90%;
    --secondary-foreground: 13 35% 30%;
    --muted: 120 5% 93%;
    --muted-foreground: 150 5% 45%;
    --accent: 13 35% 56%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 5% 88%;
    --input: 120 5% 88%;
    --ring: 148 7% 43%;
    --radius: 0.8rem;
    --chart-1: 148 7% 43%;
    --chart-2: 13 35% 56%;
    --chart-3: 150 7% 30%;
    --chart-4: 13 30% 66%;
    --chart-5: 148 5% 55%;

    --sidebar-background: 120 10% 96%;
    --sidebar-foreground: 150 7% 26%;
    --sidebar-border: 120 5% 88%;
    --sidebar-accent: 120 5% 90%;
    --sidebar-accent-foreground: 150 7% 10%;
    --sidebar-primary: 148 7% 43%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-ring: 148 7% 43%;
  }

  .dark {
    --background: 150 8% 10%;
    --foreground: 120 5% 90%;
    --card: 150 8% 12%;
    --card-foreground: 120 5% 90%;
    --popover: 150 8% 10%;
    --popover-foreground: 120 5% 90%;
    --primary: 148 10% 75%;
    --primary-foreground: 150 7% 10%;
    --secondary: 13 35% 20%;
    --secondary-foreground: 13 35% 80%;
    --muted: 150 8% 17%;
    --muted-foreground: 120 5% 60%;
    --accent: 13 35% 56%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 8% 17%;
    --input: 150 8% 17%;
    --ring: 148 10% 75%;
    --radius: 0.8rem;
    --chart-1: 148 10% 75%;
    --chart-2: 13 35% 56%;
    --chart-3: 120 5% 80%;
    --chart-4: 13 30% 66%;
    --chart-5: 148 5% 55%;

    --sidebar-background: 150 8% 10%;
    --sidebar-foreground: 120 5% 90%;
    --sidebar-border: 150 8% 17%;
    --sidebar-accent: 150 8% 15%;
    --sidebar-accent-foreground: 120 5% 95%;
    --sidebar-primary: 148 10% 75%;
    --sidebar-primary-foreground: 150 7% 10%;
    --sidebar-ring: 148 10% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
